{% autoescape off %}
Hello {{ user.get_username }},

You're receiving this email because you requested a password reset for your LuminaLearn account.

Please click the link below to reset your password:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.

This password reset link is valid for 24 hours.

Thanks for using LuminaLearn!
The LuminaLearn Team

---
This is an automated message. Please do not reply to this email.
{% endautoescape %}
